php_flag display_errors on
php_value error_reporting 9999

Options +FollowSymlinks
RewriteEngine On


RewriteRule ^Eleves/([a-z\_]+) view/Eleves-$1.php [NC]
RewriteRule ^Absences/([a-z\_]+) view/Absences-$1.php [NC]
RewriteRule ^Utilisateurs/([a-z\_]+) view/Utilisateurs-$1.php [NC]
RewriteRule ^Entreprises/([a-z\_]+) view/Entreprises-$1.php [NC]

ErrorDocument 404    http://localhost/mes_projets/projet0/projet0/404.php
ErrorDocument 400    http://localhost/mes_projets/projet0/projet0/404.php
ErrorDocument 401    http://localhost/mes_projets/projet0/projet0/404.php
ErrorDocument 403    http://localhost/mes_projets/projet0/projet0/404.php 
ErrorDocument 500    http://localhost/mes_projets/projet0/projet0/404.php

